[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "*"
keras = "*"
pillow = "*"
numpy = "*"
ujson = "*"
keras-metrics = "*"

[dev-packages]

[requires]
python_version = "3.6"
